# Required Variables (DO NOT SKIP THESE)

API_ID=25316666
API_HASH=804e92d43aa2d7a2a0a552b46f38646a
BOT_TOKEN=8054346385:AAFTYzkfhDQ3y2C6Vs2EdakJj4TCkUL7EMI
LOG_CHANNEL=-1002299902359

# Optional Variables

PORT=8080

# The length of the hash in your URLs
# https://domain.tld/1254?hash=asd45a
#                              ^^^^^^
#                                /
#                         This is the hash

HASH_LENGTH=6

# you can use IP address
# HOST=http://<ip address>:<PORT>
# Or you can also use a domain name
# HOST=https://example.com

# For muti token support
# Refer https://github.com/EverythingSuckz/TG-FileStreamBot/tree/golang#use-multiple-bots-to-speed-up

MULTI_TOKEN1=7551972995:AAEtsxfdhCQGGyVJKcucyfKvEaRiSmzExx4
MULTI_TOKEN2=7455863985:AAEH3_rvL0vkRSXEikQi5B0UwwmBUMY-Uu8
